# Enable URL rewriting
RewriteEngine On

# Set the base URL (if necessary)
RewriteBase /marketplace/

# Handle login
RewriteRule ^login/?$ login.php [L]

# Handle registration
RewriteRule ^DealerRegistration/?$ DealerRegistration.php [L]

# Remove .php extension for existing files
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]

# Handle 404 errors
ErrorDocument 404 /marketplace/404.php

# Redirect all non-existent files or directories to 404.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /marketplace/404.php [L,QSA]
