:root {
    /* --dynamic-gradient: linear-gradient(to top, #01326c, #000); */
    /* --dynamic-gradient: linear-gradient(to top, #01326c, #000); */
    --dynamic-gradient: linear-gradient(to top, #b73439, #fff);
    /* --dynamic-gradient: #e7bf0a; */
    /* --dynamic-gradient: linear-gradient(to top, #f8f3e5, #b73439); */
    /* --dynamic-gradient: linear-gradient(to right, #a18cd1, #fbc2eb); */
    /* --dynamic-gradient: linear-gradient(to right, #ff9a9e, #fad0c4); */
    /* --dynamic-gradient: linear-gradient(to right, #ff7e5f, #feb47b); */
    --primary-color: #b73439;
    --primary-color-transparent: rgba(183, 52, 56, 0.1);
    --btn-bg-color: transparent;
    --black-surface: #000;
    --white-surface: #fff;
    --lighter-contrast: rgba(255, 255, 255, 0.8);
    --light-shadow: 0 0 0 0 rgba(255, 1, 1, 0.5);
    /* Light shadow */
    --heading-color-h1: #b73439;
    /* Example color for h1 */
    --heading-color-h2: #1a1a1a;
    /* Dark gray for h2 */
    --heading-color-h3: #333333;
    /* Slightly lighter gray for h3 */
    --heading-color-h4: #4a4a4a;
    /* Medium gray for h4 */
    --heading-color-h5: #666666;
    /* Lighter gray for h5 */
    --heading-color-h6: #999999;
    /* Light gray for h6 */
}

.heading-h1 {
    color: var(--heading-color-h1);
    font-weight: bold;
    /* Bold font */
}

.heading-h2 {
    color: var(--heading-color-h2);
    font-weight: bold;
    /* Bold font */
}

.heading-h3 {
    color: var(--heading-color-h3);
    font-weight: bold;
    /* Bold font */
}

.heading-h4 {
    color: var(--heading-color-h4);
    font-weight: bold;
    /* Bold font */
}

.heading-h5 {
    color: var(--heading-color-h5);
    font-weight: bold;
    /* Bold font */
}

.heading-h6 {
    color: var(--heading-color-h6);
    font-weight: bold;
    /* Bold font */
}

/* Dropdown Hover Effect */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    animation: dropdownFadeIn 0.6s ease-in-out forwards;
    /* 'forwards' keeps the final state */
    /* z-index: 100; */

}

/* Animation for Dropdown */
@keyframes dropdownFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-30px);
        /* Start even higher for a dramatic effect */
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        /* End at its normal position */
    }
}

/* Navbar Link Hover Effect */
.nav-item.dropdown:hover .nav-link,
.nav-item.dropdown .dropdown-menu:hover .nav-link {
    color: var(--primary-color);
    transition: color 0.3s ease;
    background-color: var(--white-surface);
}

@media (max-width: 768px) {

    /* Adjust the max-width as needed */
    .nav-item.dropdown:hover .dropdown-menu {
        display: none;
        /* Prevent hover effect on small screens */
    }

    .nav-item.dropdown .dropdown-menu {
        display: none;
        /* Hide by default */
    }

    .nav-item.dropdown.active .dropdown-menu {
        display: block;
        /* Show when active */
        animation: dropdownFadeIn 0.6s ease-in-out forwards;
        /* Keep the animation on click */
        z-index: 100;

    }
}

.dropdown-icon {
    width: 12px;
    /* Set max width as needed */
    height: auto;
    /* Maintain aspect ratio */
    margin-left: 5px;
    /* Space between text and image */
    vertical-align: middle;
    /* Align with text */
}

.dropdown-item {
    margin-top: 10px;
}

/* Dropdown menu hover */
.nav-item.dropdown .dropdown-menu {
    /* background-color: #f8f9fa; */
    border: none;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
}

.nav-link {
    display: inline !important;
}

/* Gap between Navbar Items */
.navbar-nav .nav-link {
    padding-right: 2rem !important;
    font-weight: 500;
    transition: color 0.3s ease;
    color: var(--primary-color);
}


/* Button Styling */
/* Button Styling */
.btn-outline-primary {
    border: 2px solid var(--primary-color);
    /* Thicker border */
    color: var(--primary-color);
    /* Text color */
    padding: 5px 20px;
    /* Reduced padding */
    font-size: 0.875rem;
    /* Smaller font size */
    border-radius: 20px;
    /* Adjusted border radius */
    transition: background-color 0.3s, color 0.3s;
    /* Transition effects */
}


.btn-outline-primary:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--white-surface);
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    transition: background-color 0.3s ease;
    padding: 5px 20px;
    /* Reduced padding */
    border-radius: 20px;
    /* Adjusted border radius */


}

.btn-primary:hover {
    background-color: var(--white-surface);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);


}

/* Hamburger Menu Icon */

.navbar-toggler {
    border: none !important;
}

.menu-toggle {
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.menu-toggle span {
    display: block;
    height: 4px;
    background-color: var(--primary-color);
    width: 100%;
    border-radius: none !important;
    transition: all 0.3s ease;
}

.menu-toggle .move {
    margin-left: 10px;
}

.menu-toggle:hover span:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.menu-toggle:hover span:nth-child(2) {
    opacity: 0;
}

.menu-toggle:hover span:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}


/* Navbar brand spacing */
.navbar-brand {
    padding-right: 3rem;
    font-weight: bold;
    color: var(--primary-color);
}

/* Footer Styles  Start*/
.footer-brand {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.footer-description {
    font-size: 14px;
    line-height: 1.8;
}

.footer-heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: var(--primary-color);
}

.footer-links a {
    display: block;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: var(--primary-color);
}

.social-icons a {
    font-size: 20px;
    transition: color 0.3s, transform 0.3s;
}

.social-icons a:hover {
    color: var(--primary-color);
    transform: translateY(-5px);
}

/* .footer-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.footer-wave svg {
    display: block;
    width: 100%;
    height: 120px;
} */

footer form .form-control:focus {
    outline: none;
    box-shadow: none;
}

footer button:hover {
    background-color: var(--primary-color);
    color: #1c1c1c;
}

/* Footer Styles  End*/